@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: white;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: #1762a7;
  padding: 0.5em 1em;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #1d7cd4;
}

.colored {
  font-size: 4rem;
  font-weight: bold;
  color: #bc3a80;
}

.title {
  font-weight: 300;
}

.desc {
  font-size: 1.2rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.header {
  background-color: #2f303a;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .header {
    height: auto;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header__hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .header__hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .header__hero {
    text-align: center;
  }
}

.header__cover {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .header__cover {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header__img {
  display: block;
  width: 330px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 800px) {
  .header__img {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .header__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

@media only screen and (max-width: 800px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  display: inline-block;
  margin-left: 3rem;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__img {
  margin-right: 10px;
}

.nav__link:hover {
  color: gray;
}

.menu {
  border: none;
  background-color: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu {
    display: block;
  }
}

.menu .line {
  width: 20px;
  height: 2px;
  background-color: white;
  display: block;
  position: relative;
}

.menu .line::before, .menu .line::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
}

.menu .line::before {
  top: -10px;
}

.menu .line::after {
  top: 10px;
}

.mobile {
  text-align: center;
  margin-top: 2rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: none;
}

.mobile__link {
  padding: 1rem 0;
  display: block;
}

.showNav {
  display: block;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  width: 200px;
  height: 200px;
  background-color: rgba(188, 58, 128, 0.1);
  bottom: 50px;
  left: 100px;
}

.circle2 {
  width: 130px;
  height: 130px;
  background-color: rgba(23, 98, 167, 0.1);
  top: 20%;
  left: 35%;
}

.circle3 {
  width: 300px;
  height: 300px;
  background-color: rgba(23, 98, 167, 0.1);
  bottom: -10%;
  right: -10%;
}

.footer {
  background-color: #202027;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .footer {
    position: relative;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

@media only screen and (max-width: 600px) {
  .footer .container {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }
}

.footer__item {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .footer__item {
    display: block;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .footer__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem 0;
  }
}

.footer__link:hover {
  color: gray;
}

.footer__link .icon {
  margin-right: 10px;
}

.pushRight {
  margin-right: 3rem;
}

@media only screen and (max-width: 600px) {
  .pushRight {
    margin-right: 0;
  }
}

.discover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .discover {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.discover > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.discover__albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .discover__albums {
    margin: 1rem auto;
  }
}

.discover__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 800px) {
  .discover__cover {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 5rem;
  }
}

.discover__img {
  max-width: 340px;
  max-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media only screen and (max-width: 600px) {
  .discover__img {
    max-width: 250px;
    max-height: 250px;
  }
}

.discover__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 3rem;
  height: 80%;
}

.album {
  text-align: center;
  margin-right: 1rem;
  background-color: #202027;
  padding: 1rem;
  width: 110px;
}

.album__icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.album__title {
  font-size: 1rem;
}

.signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  grid-gap: 2rem;
}

.signup__title {
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .signup__title {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .signup {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }
}

.form {
  background-color: #202027;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 2rem;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .form {
    margin-bottom: 1rem;
  }
}

.form__label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form__input {
  font-size: 1rem;
  font-family: inherit;
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: 2px solid #1762a7;
  color: white;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */