@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$bg: #2f303a;
$blue: #1762a7;
$pink: #bc3a80;
$dark: #202027;
$medium: 500;
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;

    @media only screen and (max-width: 800px) {
        font-size: 90%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: white;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    background-color: $blue;
    padding: 0.5em 1em;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: lighten($blue, 10%);
    }
}

.colored {
    font-size: 4rem;
    font-weight: bold;
    color: $pink;
}

.title {
    font-weight: 300;
}

.desc {
    font-size: 1.2rem;
}

.u-mb-1 {
    margin-bottom: 1rem;
}
.u-mb-2 {
    margin-bottom: 2rem;
}
.u-mb-3 {
    margin-bottom: 3rem;
}

// HEADER
.header {
    background-color: $bg;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 800px) {
        height: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__hero {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 2rem;
        @media only screen and (max-width: 800px) {
            grid-template-columns: 1fr;
            margin-top: 5rem;
        }
        @media only screen and (max-width: 600px) {
            text-align: center;
        }
    }

    &__cover {
        width: 100%;
        height: 100%;
        position: relative;

        @media only screen and (max-width: 800px) {
            order: 3;
        }
    }

    &__img {
        display: block;
        width: 330px;
        height: auto;
        object-fit: cover;
        position: absolute;
        bottom: 0;

        @media only screen and (max-width: 800px) {
            position: relative;
        }

        @media only screen and (max-width: 600px) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// NAVIGATION

.nav {
    display: flex;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    &__list {
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }
    &__item {
        display: inline-block;
        margin-left: 3rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        margin-right: 10px;
    }

    &__link {
        &:hover {
            color: gray;
        }
    }
}

.menu {
    border: none;
    background-color: transparent;
    width: max-content;
    cursor: pointer;
    display: none;

    @media only screen and(max-width:800px) {
        display: block;
    }
    .line {
        width: 20px;
        height: 2px;
        background-color: white;
        display: block;
        position: relative;
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: white;
            display: block;
            position: absolute;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }
}

.mobile {
    text-align: center;
    margin-top: 2rem;
    transform-origin: top;
    transition: 300ms;
    display: none;
    &__link {
        padding: 1rem 0;
        display: block;
    }
}

.showNav {
    display: block;
}

// CIRCLES

@mixin circlePos($color, $size) {
    width: $size;
    height: $size;
    background-color: rgba($color, 0.1);
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    @include circlePos($pink, 200px);
    bottom: 50px;
    left: 100px;
}

.circle2 {
    @include circlePos($blue, 130px);
    top: 20%;
    left: 35%;
}

.circle3 {
    @include circlePos($blue, 300px);
    bottom: -10%;
    right: -10%;
}

// FOOTER

.footer {
    background-color: $dark;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem;

    @media only screen and (max-width: 600px) {
        position: relative;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;

        @media only screen and (max-width: 600px) {
            display: block;
            text-align: center;
            padding: 1rem 0;
        }
    }
    &__item {
        display: inline-block;

        @media only screen and (max-width: 600px) {
            display: block;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 600px) {
            justify-content: center;
            text-align: center;
            padding: 1rem 0;
        }
        &:hover {
            color: gray;
        }
        .icon {
            margin-right: 10px;
        }
    }


}

.pushRight {
    margin-right: 3rem;
    @media only screen and (max-width: 600px) {margin-right: 0;}
}

.discover {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
        flex-wrap: wrap;
        margin-bottom: 5rem;
        justify-content: center;
        text-align: center;
    }

    & > * {
        flex: 1;
    }

    &__albums {
        display: flex;

        @media only screen and (max-width: 800px) {
            margin: 1rem auto;
        }
    }

    &__cover {
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 800px) {
            order: -1;
            margin-top: 5rem;
        }
    }

    &__img {
        max-width: 340px;
        max-height: 340px;
        object-fit: cover;
        display: block;

        @media only screen and (max-width: 600px) {
            max-width: 250px;
            max-height: 250px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3rem;
        height: 80%;
    }
}

.album {
    text-align: center;
    margin-right: 1rem;
    background-color: $dark;
    padding: 1rem;
    width: 110px;
    &__icon {
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1rem;
    }
}

// signup

.signup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    flex: 1;
    grid-gap: 2rem;

    &__title {
        font-weight: $medium;

        @media only screen and (max-width: 800px) {text-align: center;}
    }
    @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        margin-bottom: 1rem;
    }
}

.form {
    background-color: $dark;
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
    border-radius: 20px;

    @media only screen and (max-width: 800px) {
        margin-bottom: 1rem;
    }
    &__label {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    &__input {
        font-size: 1rem;
        font-family: inherit;
        display: block;
        padding: 0.5rem;
        width: 100%;
        background-color: transparent;
        border: 2px solid $blue;
        color: white;
        border-radius: 10px;
    }
}
